// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 img {
    width:400px;
    height:400px;
  }

 p {
    color: grey;
  }

  h1
  {
      color: rgb(43, 43, 43);
  }

div
{
    width:400px;
    margin: 20px;
    height:600px;
    float: left;
}

li{
    list-style-type: none;
}
